.profile__edit-btn {
  margin-top: 37px;
  padding: 0;
  width: 24px;
  height: 24px;
	border: 1px solid #fff;
  background-color:transparent;
}
.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}