.profile__info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .profile__info {
    align-items: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .profile__info {
    flex-direction: column;
  }
}